body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #555;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.section p {
    color: #666;
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}
.food-images img {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the set dimensions without distortion */
    margin: 10px; /* Adds space between images */
    border-radius: 10px; /* Optionally, you can add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}